{% extends 'common/layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ basePath }}/css/color.css?v={{ now }}">
    <link rel="stylesheet" href="{{ basePath }}/css/common.css">
    <link rel="stylesheet" href="{{ basePath }}/css/order.css">
{% endblock %}
{% block content %}
<body class="red">
<div class="member-order">
    {% include 'common/nav.twig' %}
    <div class="content">
        <div class="inner flex">
            <!-- 左侧菜单 -->
            <div class="aside">
                <ul class="aside-submenu">
                    <li>
                        <ul class="aside_menu">
                            <li><a href="{{ pcUrl('pc.member') }}">个人中心</a></li>

                        </ul>
                    </li>
                    <li>
                        <ul class="aside_menu">
                            <li><a href="{{ pcUrl('pc.order') }}" class="cuurent">我的订单</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 右侧内容 -->
            <div class="main">
                <div class="sub-title">
                    <span>我的订单</span>
                </div>
                <div class="min-con">
                    <div class="mt">
                        <ul class="flex">
                            <li><a href="{{ pcUrl('pc.order',{'status':6}) }}" {% if status==6 %} class="current" {% endif %} >全部订单</a></li>
                            <li><a href="{{ pcUrl('pc.order',{'status':0}) }}" {% if status==0 %} class="current" {% endif %} >待付款<span>{{ count.order_0 ?:'' }}</span></a></li>
                            <li><a href="{{ pcUrl('pc.order',{'status':1}) }}" {% if status==1 %} class="current" {% endif %} >待发货<span>{{ count.order_1 ?:'' }}</span></a></li>
                            <li><a href="{{ pcUrl('pc.order',{'status':2}) }}" {% if status==2 %} class="current" {% endif %} >待收货<span>{{ count.order_2 ?:'' }}</span></a></li>
                            <li><a href="{{ pcUrl('pc.order',{'status':3}) }}" {% if status==3 %} class="current" {% endif %} >已完成<span>{{ count.order_3 ?:'' }}</span></a></li>
                            <li><a href="{{ pcUrl('pc.order',{'status':4}) }}" {% if status==4 %} class="current" {% endif %} >维权订单<span>{{ count.order_4 ?:'' }}</span></a></li>
                        </ul>
                    </div>
                    <div class="commodity">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <span style="width: 375px;">商品信息</span>
                                        <span style="width: 120px;">单价</span>
                                        <span>售后</span>
                                    </th>
                                    <th>价格</th>
                                    <th>交易状态</th>
                                    <th>操作</th>
                                </tr>
                                <tr class="sep-row"></tr>
                            </thead>
                            {% for item in list %}
                            <tbody>
                                <tr style="background-color: #f5f5f5" class="tr-th">
                                    <td colspan="4" style="padding-right: 15px;">
                                        <span class="time">{{ item.createtime|date("Y/m/d H:i:s") }}</span>
                                        <span class="num">订单号：<a href="">{{ item.ordersn }}</a></span>
                                        <a href="javascript:void(0)" onclick="deleteOrder({{ item.id }})" class="iconfont fr">&#xe614;</a>
                                    </td>
                                </tr>
                                <tr class="commodity-all">
                                    <td style="width: 570px;">
                                        {% for good in item.goods %}
                                        <div class="commodity-goods flex">
                                            <div class="p-img">
                                                <img src="{{ good.thumb }}"/>
                                            </div>
                                            <div class="p-msg">
                                                <div class="p-name">
                                                    <a href="javascript:void(0)">{{ good.title }}</a><br>  X{{ good.total }}
                                                </div>
                                                <div class="p-extra">
                                                    <span>{{ good.optiontitle }}</span>
                                                </div>

                                            </div>
                                            <div class="price">
                                                <span>￥{{ good.marketprice }} </span><br>

                                            </div>
                                            <div class="state">
                                                <a href="javascript:;" onclick="getCode({{ item.id }})"><span>申请维权</span></a>
                                                <span id="getcodeurl" style="display: none">{{ pcUrl('pc/getCode')}}</span>
                                                <span id="deleteurl" style="display: none">{{ pcUrl('pc/order/delete')}}</span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </td>
                                    <td style="width: 130px;" >
                                        <span style="padding-left: 16px;">￥{{ item.price }}</span>
                                    </td>
                                    <td style="width: 160px;">
                                        <div class="commodity-state">
                                            <span>{{ item.statusstr }}</span>
                                            <a href="javascript:;" onclick="getCode({{ item.id }})">订单详情</a>
                                            {% if item.hasexpress %}
                                            <a href="javascript:;" onclick="getCode({{ item.id }})">查看物流</a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td >
                                        {% if item.nextstatus %}
                                        <a href="javascript:;" onclick="getCode({{ item.id }})" class="state-btn confirm {{ item.statuscss }}">{{ item.nextstatus }}</a>
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr class="sep2-row"></tr>
                            </tbody>
                                {% else %}
                                    <tbody>
                                    <tr class="commodity-all">
                                        <td colspan="4" style="padding-right: 15px; text-align: center;border: 0;padding-top: 20px">
                                          当前没有订单哦~
                                        </td>
                                    </tr>
                                    </tbody>
                            {% endfor %}

                        </table>
                        {% autoescape false%}
                            {{ pagers}}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="qrcode show">
    <div class="block">
        <span class="close iconfont">&#xe635;</span>
        <p>请扫码前往手机端操作</p>
        <div class="code">
            <img src="{{ basePath }}/img/goods-list.jpg" class="img"/>
        </div>
    </div>
</div>
</body>
{% endblock %}
 {% block js %}
     <script src="{{ basePath }}/js/common.js"></script>
     <script src="{{ basePath }}/js/jquery.js"></script>
     <script>
             function getCode(id){
                 var url =   $("#getcodeurl").text();
                 $.ajax({
                     type : 'post',
                     url : url,
                     data : {'id':id,'url':'order.detail'},
                     dataType : 'json',
                     success : function(ret){
                         if (ret.status == 1) {
                             var imgPath = ret.img;
                             $('.img').attr('src', imgPath);
                             $('.qrcode').removeClass("show");
                         }
                     }},JSON)
             }
             // 删除订单
             function deleteOrder(id){
                 var url =   $("#deleteurl").text();
                 var msg = "您真的确定要删除吗?";
                 if (confirm(msg)==true){
                     $.ajax({
                         type : 'post',
                         url : url,
                         data : {'id':id,'userdeleted':1},
                         dataType : 'json',
                         success : function(ret){
                             if (ret.status == 1) {
                                  location.reload();
                             }else{
                                alert(ret.message);
                                 return;
                             }
                         }},JSON)
                 }else{
                     return false;
                 }
             }

             $(function () {
                 $('.close').click(function () {
                     $('.qrcode').addClass("show");
                 });
             });

     </script>
 {% endblock %}
