{% extends 'common/layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ basePath }}/css/color.css?v={{ now }}">
    <link rel="stylesheet" href="{{ basePath }}/css/common.css">
    <link rel="stylesheet" href="{{ basePath }}/css/goods/goods-list.css">
{% endblock %}

{% block content %}
    {% include 'common/nav.twig' %}
    <!-- 分类 -->

    <div class="content goods-list-box" >
        <!-- 面包屑 -->
        <div class="inner">
            <div class="crumbs">
                <a href="{{ pcUrl('pc.list')}}">全部商品</a><i class="iconfont">&#xe65f;</i>
                {% for cate in category.upcate %}
                    <a href="{{ pcUrl('pc.list',{'cate':cate.id})}}">{{ cate.name }}</a><i class="iconfont">&#xe65f;</i>
                {% else %}

                {% endfor %}
            </div>
        </div>
        <!-- 商品列表 -->
        <div class="inner">
            <div class="goods">
                <!-- 分类 -->
                <form action="./index.php" method="get" class="form-horizontal form-search" role="form">
                    <input type="hidden" name="c" value="entry" />
                    <input type="hidden" name="i" value="{{ serch.uniacid }}" />
                    <input type="hidden" name="m" value="ewei_shopv2" />
                    <input type="hidden" name="do" value="mobile" />
                    <input type="hidden" name="r"  value="pc.list" />
                    <input type="hidden" name="cate"  value="{{ cateid }}" />
                <div class="goods-cargetory flex">
                    <span>分类：</span>
                    <div class="option">
                        {% for cate in category.downcate %}
                            <a href="{{ pcUrl('pc.list',{'cate':cate.id})}}" {% if cate.id == cateid %} class = "cuurent" {% endif %}>{{ cate.name }}</a>
                            {% else %}
                            暂无其他分类
                        {% endfor %}
                    </div>
                </div>
                <!-- 排序 -->
                <div class="goods-sort flex">
                    <span class="sort-title">排序：</span>
                    <div class="option">
                        <a href="{{ pcUrl('pc.list',{'cate':cateid}) }}" {% if serch.show %}style="color: #ff284b" {% endif %}>默认</a>
                        <button  value="{{ serch.sort }}"  class="sales-sort" name="sale"  id="sort" type="submit">
                            <span {% if serch.gpc.sale %} class = "cuurent" {% endif %} >销量</span>
                            <i class="mt {% if serch.gpc.sale == 'desc' %} mt-current {% endif %} "></i>
                            <i class="mb {% if serch.gpc.sale == 'asc' %} mb-current {% endif %} "></i>
                        </button>
                        <button value="{{ serch.pricesort }}" name="pricesort"  class="price-sort"><span {% if serch.gpc.pricesort %} class = "cuurent" {% endif %}>价格</span>
                            <i class="mt {% if serch.gpc.pricesort == 'desc' %} mt-current {% endif %} "></i>
                            <i class="mb {% if serch.gpc.pricesort == 'asc' %} mb-current {% endif %} "></i>
                        </button>

                        <span class="price-range">
                            <span class="select-star">
                                <input type="text" name="minprice" value="{{ serch.gpc.minprice }}" placeholder="¥">
                            </span>
                            <i>-</i>
                            <span class="select-end">
                                  <input type="text" name="maxprice" value="{{ serch.gpc.maxprice  }}" placeholder="¥">
                        </span>
                        </span>

                    </div>
                </div>
                </form>
                <!-- 商品列表 -->
                <div class="goods-list flex">
                    {% for item in data.list %}
                        <a href="{{ pcUrl('pc.goods.detail',{'id':item.id}) }}">
                            <div class="goods-list-item">
                                <div class="img">
                                    <img src="{{ item.thumb }} " style=" width: 250px;height: 250px;object-fit: cover"/>
                                    {% if item.total<=0 %}
                                        <div class="sold-out">
                                            <span>已售完</span>
                                            <span>SOLD OUT</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="price-block">
                                    <span class="price">￥{{ item.marketprice }}</span>
                                    <span class="original-price">￥{{ item.marketprice }}</span>
                                </div>
                                <p class="title">{{ item.title }}</p>
                                <div class="sold">
                                    <span>已售：</span><span class="sold-num">{{ item.salesreal>0 ? item.salesreal:0 }}</span>
                                </div>
                            </div>
                        </a>
                        {% else %}
                    <div class="" style="text-align: center">
                        <span>暂时没有更多产品了哦~</span>
                    </div>
                    {% endfor %}
                </div>
                <!-- 分页 -->
                {#{{ pager }}#}
                {% autoescape false%}
                {{ pagers}}
                {% endautoescape %}
            </div>
        </div>
        <!-- 猜你喜欢版块-->
        <div class="inner">
            <div class="title flex">
                <h3>猜你喜欢</h3>
                {#<a href="#" class="more">查看更多</a>#}
            </div>
            <div class="love flex">
                {% for item in maybe %}
                <div class="goods-item">
                    <a href="{{ pcUrl('pc.goods.detail',{'id':item.id}) }}">
                    <img src="{{ item.thumb }} " style=" width: 230px;height: 250px;object-fit: cover"/>
                    <h6 style="margin-bottom: 0px">{{ item.title }}</h6>
                    </a>
                    <span class="price">￥{{ item.marketprice }}</span>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}

