{% extends 'common/layout.twig' %}
{% block title %}{{ data.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ basePath }}/css/color.css?v={{ date }}">
    <link rel="stylesheet" href="{{ basePath }}/css/common.css">
    <link rel="stylesheet" href="{{ basePath }}/css/activity/group-list.css">
{% endblock %}
{% block content %}
<body class="red">
<div class="group-box">
    {% include 'common/nav.twig' %}

        <div class="inner">
            <!--拼团列表-->
            <div class="group-list inner flex">
                {% for item in data.list %}
                    <div class="item flex">
                        <div class="img">
                            <img src="{{ item.thumb }}" />
                            {% if item.stock<=0 %}
                                <div class="sold-out">
                                    <span>已售完</span>
                                    <span>SOLD OUT</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="right">
                            <div class="title bargin-icon">{{ item.title }}</div>
                            <div class="bargain-price">
                                <span class="floor-price">{% if item.type %}底价:<span class="group-price">￥{{ item.end_price }}{% endif %}</span></span>
                                <span>砍多少减多少</span>
                            </div>
                            <div class="total-price">
                                <span>原价:</span><span>￥{{ item.marketprice }}</span>
                            </div>
                        </div>
                        <div class="group-qrcode">
                            <div class="pic">
                                <img src="{{ item.url }}"/>
                            </div>
                            <span>微信扫一扫，砍！</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% autoescape false%}
                {{ data.pagers }}
            {% endautoescape %}
        </div>

</div>
</body>
{% endblock %}

{% block js %}
    <script src="{{ basePath }}/js/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {
            height = $('html').height() - 182 - $('.footer').innerHeight();
            $('.content').css('height', height);
        });
    </script>
{% endblock %}
