{% extends 'common/layout.twig' %}
{% block title %}{{ data.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ basePath }}/css/color.css?v={{ date }}">
    <link rel="stylesheet" href="{{ basePath }}/css/common.css">
    <link rel="stylesheet" href="{{ basePath }}/css/activity/group-list.css">
{% endblock %}
{% block content %}
<body class="red">
<div class="group-box">
    {% include 'common/nav.twig' %}

        <div class="inner">
            <!--拼团列表-->
            <div class="group-list flex">
                {% for item in data.list %}
                    <div class="item flex">
                        <div class="img">
                            <img src="{{ item.thumb }}" />
                            {% if item.stock<=0 %}
                                <div class="sold-out">
                                    <span>已售完</span>
                                    <span>SOLD OUT</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="right">
                            <div class="title">{{ item.title }}</div>
                            <span class="group-num">{{ item.groupnum }}人团</span>
                            <div class="price">
                                <span>拼团价：</span>
                                <span class="group-price">￥{{ item.groupsprice }}</span>
                                <span class="original-price">￥{{ item.price }}</span>
                            </div>
                            <div class="sold">
                                <span>已售：</span><span>{{ item.sales }}{{ item.units }}</span>
                            </div>
                            {% if item.stock<=0 %}
                            <div class=""> <image src="{{  global.setting.shouqin }}"/></div>
                            {% endif %}
                        </div>
                        <div class="group-qrcode">
                            <div class="pic">
                                <img src="{{ item.url }}"/>
                            </div>
                            <span>微信扫一扫，拼！</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% autoescape false%}
                {{ data.pagers}}
            {% endautoescape %}
        </div>

</div>
</body>

{% endblock %}

{% block js %}
    <script src="{{ basePath }}/js/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {
            height = $('html').height() - 182 - $('.footer').innerHeight();
            $('.content').css('height', height);
        });
    </script>
{% endblock %}
