<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ basePath }}/css/common.css">
    <link rel="stylesheet" href="{{ basePath }}/css/color.css">

    {# 公共js #}
    <script src="{{ basePath }}/js/jquery.js"></script>
    <script src="{{ basePath }}/js/common.js?v="{{ v }}></script>
    <script src="{{ basePath }}/js/time.js"></script>



    <script>

        $(function () {
            window.API = {{ api|raw }}
            window.PARAMS = {{ params|raw }}
            window.GLOBAL = {{ global|json_encode|raw }}
            window.staticPath = {{ staticPath|json_encode|raw }}

            // 分类只在首页有透明度，其它页面是纯白色
            if (PARAMS.r !== 'pc') {
                $('.category-tab-box').css({'background-color': '#fff'});
                $('.category .arrow').css({'background-color': '#fff'});
            }

            // 分类
            var idx = 0;
            function switchCategory() {
                var height = $('.category-tab-box').height();
                var totalHeight = $('.category-tab-move').height();
                var num = Math.ceil(totalHeight / height);
                return {height, totalHeight, num};
            }
            // 判断是否是最后一页;
            $('.arrow-next').click(function() {
                var {height, totalHeight, num} = switchCategory();
                if(num == 1) {
                    return;
                }
                idx++;
                $('.category-tab-move').css('margin-top', -(height*idx));
                // 翻到最后一页的时候，上翻
                if (idx == (num - 1)) {
                    $('.arrow-next').hide();
                    $('.arrow-prev').css('display', 'block');
                }
            });
            // 点击上翻页
            $('.arrow-prev').click(function() {
                var {height, totalHeight, num} = switchCategory();
                idx--;
                $('.category-tab-move').css('margin-top', -(height*idx));
                if(idx <= 0) {
                    $('.category-tab-move').css('margin-top', 0 );
                    $('.arrow-next').show();
                    $('.arrow-prev').hide();
                    idx = 0;
                }
            });
        })
    </script>

    {% block css %}{% endblock %}

    {% block js %}{% endblock %}
</head>
<body class="red">
<div class="box">
    <!--登录等信息-->
    {% include 'common/header.twig' %}

    <!--主体-->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'common/footer.twig' %}

</div>


</body>
</html>