{% extends 'common/layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ basePath }}/css/color.css?v={{ now }}">
    <link rel="stylesheet" href="{{ basePath }}/css/common.css">
    <link rel="stylesheet" href="{{ basePath }}/css/goods/goods-cart.css">
{% endblock %}
{% block content %}
<body class="red">
<div class="goods-cart-box">
    {% include 'common/nav.twig' %}
        <!-- 购物车 -->
        <div class="inner">
            <div class="cart">
                <div class="hd">
                    <div class="tab-title flex">
                        <a href="{{ pcUrl('pc.member.cart') }}"><span {% if not type %}class="current"{% endif %}>全部商品（{{ canbuycount }}）</span></a>
                        <a href="{{ pcUrl('pc.member.cart',{'type':1}) }}"><span {% if type %}class="current"{% endif %}>失效产品({{ notbuycount }})</span></a>
                    </div>
                </div>
                <div class="cart-main">
                    <table>
                        <thead>
                        <tr>
                            <th class="empty"></th>
                            <th class="checkbox">
                                <input type="checkbox" id="all" value="1" onclick="checkall()">
                                <label for="all"></label>
                            </th>
                            <th>全选</th>
                            <th>商品信息</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>小计</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 一行购物车商品 -->
                        <input type="hidden" id="carturl" value="{{ pcUrl('pc.member.cartSelect')}}">
                        <input type="hidden" id="updateurl" value="{{ pcUrl('pc.member.cartUpdate')}}">
                        <input type="hidden" id="deleteurl" value="{{ pcUrl('pc.member.cartDelete')}}">
                        {% for item in list %}
                        <tr  class="goods-cart {% if item.selected ==1 %}choose-current{% endif %}" >
                            <td class="empty"></td>
                            <td style="width: 36px;">
                                <div class="checkbox">
                                    <input type="checkbox" name="goodsid" id="option_{{ item.id }}" value="{{ item.id }}"  {% if item.selected ==1 %}checked{% endif %} onclick="checkedid({{ item.id }},{{ item.selected }})">
                                    <label for="option_{{ item.id }}"></label>
                                </div>
                            </td>
                            <td style="width: 118px;">
                                <div class="p-img">
                                    <a href=""><img src="{{ item.thumb }}"/></a>
                                </div>
                            </td>
                            <td style="width: 430px;">
                                <div class="p-msg">
                                    <div class="p-name">
                                        <a href="">{{ item.title }}</a>
                                    </div>
                                    <div class="p-extra">
                                        <span>{{ item.optiontitle }}</span>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 195px;">
                                <div class="price">
                                    <span>￥ {{ item.marketprice }}</span><br>
                                    <span class="original-price">￥ {{ item.oldprice }}</span>
                                </div>
                            </td>
                            <td style="width: 167px;">
                                <!-- 选择数量 -->
                                <div class="choose-num flex">
                                    <span><i class="iconfont" onclick="down({{ item.id }},{{ item.optionid }},{{ item.total }},{{ item.minbuy }})">&#xe603;</i></span>
                                    <input type="text" value="{{ item.total }}">
                                    <span><i class="iconfont" onclick="up({{ item.id }},{{ item.optionid }},{{ item.total }},{{ item.totalmaxbuy }})">&#xe631;</i></span>
                                </div>
                            </td>
                            <td style="width: 138px;">
                                <div class="total-price">
                                    <span>￥{{ item.total * item.marketprice }}</span>
                                </div>
                            </td>
                            <td>
                                <!-- 操作 -->
                                <div class="operate">
                                    <a href="javascript:void(0)" onclick="deleteone({{ item.id }})">删除</a>
                                </div>
                            </td>
                        </tr>
                            {% else %}
                                <tr  style="width: 118px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="height: 50px;">您的购物车是空的,快去添加产品吧~</td>
                                </tr>

                         {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if not type %}
                <div class="cart-total">
                    <div class="left fl">
                        <span class="checkbox">
                            <input type="checkbox"id="allbm" value="1" onclick="checkall()">
                            <label for="allbm"></label>
                        </span>
                        <a href="javascript:;"  onclick="checkall()">全选</a>
                        <a href="javascript:;" onclick="catdelete()">删除选中的商品</a>
                        <a href="javascript:;" onclick="deleteall()" class="clear">清空购物车</a>
                    </div>
                    <div class="right fr flex">
                        <span>已选择<i>{{ total }}</i>件商品</span>
                        <span>总价（不含运费）：</span>
                        <span class="total-price">￥{{ totalprice }}</span>
                        <div class="gopay" onclick="showCode()">
                            <button type="button">立即支付</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- 猜你喜欢版块-->
        <div class="inner">
            <div class="slick">
                <div class="title flex">
                    <h3>猜你喜欢</h3>
                </div>
                <div class="love flex">
                    {% for item in favorite %}
                    <div class="goods-item">
                        <a href="{{ pcUrl('pc.goods.detail',{'id':item.id}) }}">
                        <img src="{{ item.thumb }}"/>
                        <h6>{{ item.title }}</h6>
                        </a>
                        <span class="price">￥{{ item.marketprice }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    <!-- 二维码-->
    <div class="qrcode show">
        <div class="block">
            <span class="close iconfont" onclick="hidCode()">&#xe635;</span>
            <p>请扫码前往手机端,继续操作</p>
            <div class="code">
                <img src="{{ url }}"/>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
 {% block js %}
     <script src="{{ basePath }}/js/common.js"></script>
     <script src="{{ basePath }}/js/jquery.js"></script>
     <script>

         $(function () {
             var count = $(".goods-cart").length;
             var goodcount = $("input:checkbox[name='goodsid']:checked").length;
             if (count ==goodcount && count>0){
                 $("#allbm").attr("checked",true);
                 $("#allbm").val(0);
                 $("#all").attr("checked",true);
                 $("#all").val(0);
             }
             //如果没有产品那么无法点击
             if (goodcount ==0){
                 $(".gopay").children('button').attr('disabled',true);
             }
         });
        function checkedid(id,selected){
            if (selected ==0){
                selected = 1
            }else{
                selected = 0;
            }
            if (id){
                var url =  $("#carturl").val();
                $.ajax({
                    type : 'post',
                    url : url,
                    data : {'id':id,'select':selected},
                    dataType : 'json',
                    success : function(ret){
                        if (ret.status ==1){
                            location.reload();
                        }
                    }},JSON)
            }
        }
        //删除
        function catdelete() {
           var str = '';
            $("input:checkbox[name='goodsid']:checked").each(function(i) {
                var val = $(this).val();
                str += val+',';
            });
            var deleteurl =  $("#deleteurl").val();
            if (str !=''){
                var msg = "您真的确定要删除吗?";
                if (confirm(msg)==true){
                    $.ajax({
                        type : 'post',
                        url : deleteurl,
                        data : {'ids':str},
                        dataType : 'json',
                        success : function(ret){
                            if (ret.status ==1){
                                location.reload();
                            }
                        }},JSON)
                }else{
                   return false;
                }
            }
        }
        //删除所有的
        function deleteall() {
           var str = '';
            $("input:checkbox[name='goodsid']").each(function(i) {
                var val = $(this).val();
                str += val+',';
            });
            var deleteurl =  $("#deleteurl").val();
            if (str !=''){
                var msg = "您真的确定要删除吗?";
                if (confirm(msg)==true){
                    $.ajax({
                        type : 'post',
                        url : deleteurl,
                        data : {'ids':str},
                        dataType : 'json',
                        success : function(ret){
                            if (ret.status ==1){
                                location.reload();
                            }
                        }},JSON)
                }else{
                   return false;
                }
            }
        }
        //删除单个
        function deleteone(id) {
            var deleteurl =  $("#deleteurl").val();
            if (id){
                var msg = "您真的确定要删除吗?";
                if (confirm(msg)==true){
                    $.ajax({
                        type : 'post',
                        url : deleteurl,
                        data : {'ids':id},
                        dataType : 'json',
                        success : function(ret){
                            if (ret.status ==1){
                                location.reload();
                            }
                        }},JSON)
                }else{
                   return false;
                }
            }
        }
        //增加
        function up(id,optionid,total,max){
            total += 1;
            if (total>max) {
                alert('最多购买'+max+'件!');return;
            }
            if (id){
                var updateurl =  $("#updateurl").val();
                $.ajax({
                    type : 'post',
                    url : updateurl,
                    data : {'id':id,'optionid':optionid,'total':total},
                    dataType : 'json',
                    success : function(ret){
                        if (ret.status ==1){
                            location.reload();
                        }
                    }},JSON)
            }
        }
        //减少
        function down(id,optionid,total,min){
            total -= 1;
            if (total==0){
                total=1;
            }
            if (total<min) {
                alert('最少购买'+min+'件!');return;
            }
            if (id){
                var updateurl =  $("#updateurl").val();
                $.ajax({
                    type : 'post',
                    url : updateurl,
                    data : {'id':id,'optionid':optionid,'total':total},
                    dataType : 'json',
                    success : function(ret){
                        if (ret.status ==1){
                            location.reload();
                        }
                    }},JSON)
            }
        }
        // 全选
        function checkall(){
            var str = '';
            $("input:checkbox[name='goodsid']").each(function(i) {
                var val = $(this).val();
                str += val+',';
            });
            var checkinfo = $('#all').val();
            var selected =1;
            if (checkinfo == 0){
                selected =0;
            }
            if (str!=''){
                var url =  $("#carturl").val();
                $.ajax({
                    type : 'post',
                    url : url,
                    data : {'id':str,'select':selected},
                    dataType : 'json',
                    success : function(ret){
                        if (ret.status ==1){
                            location.reload();
                        }
                    }},JSON)
            }
        }
         function showCode(){
              $(".qrcode").removeClass('show');
              return;
         }
         function hidCode(){
              $(".qrcode").addClass('show');
         }
     </script>
 {% endblock %}
