<div class="title flex">
    <h3>猜你喜欢</h3>
</div>
<div class="love flex">
    <div class="goods-item">
        <img src="{{ basePath }}/img/goods.jpg"/>
        <h6>北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉</h6>
        <span class="price">￥68.8</span>
    </div>
    <div class="goods-item">
        <img src="{{ basePath }}/img/goods.jpg"/>
        <h6>北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉</h6>
        <span class="price">￥68.8</span>
    </div>
    <div class="goods-item">
        <img src="{{ basePath }}/img/goods.jpg"/>
        <h6>北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉</h6>
        <span class="price">￥68.8</span>
    </div>
    <div class="goods-item">
        <img src="{{ basePath }}/img/goods.jpg"/>
        <h6>北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉</h6>
        <span class="price">￥68.8</span>
    </div>
    <div class="goods-item">
        <img src="{{ basePath }}/img/goods.jpg"/>
        <h6>北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉北欧简约时尚方框形耳钉</h6>
        <span class="price">￥68.8</span>
    </div>
</div>